/************************************************TAG SELECTORS*********************************************/
body {
  margin: 0px;
  text-align: center;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 10px;
  width: 40%;
}
h1,
h3 {
  color: azure;
  margin: 0 auto 0 auto;
}
/************************************************CLASS SELECTORS*********************************************/
.my_image {
  border-radius: 100%;
  border: 10px;
  border-style: solid;
  border-color: white;
}
.my_image:hover {
  border-radius: 20%;
}

.top_container {
  background-color: #71dfe7;
  position: relative;
  padding: 50px 0 0 0;
}

.middle_container {
  background-color: yellow;
  margin-right: 0px;
}

.bottom_container {
  background-color: red;
  margin-right: 0px;
  height: 200px;
  width: 200px;
  padding: 20px;
  border: solid 10px;
  margin-left: 360px;
}
.cloud {
  position: absolute;
  right: 20%;
  top: 10%;
}

.mountains {
  background-color: transparent;
}

/************************************************ID SELECTORS*********************************************/
#skills_heading {
  color: wheat;
}
